body {
    background: white;
}

.buttons {
    display: flex;
    align-content: center;
}

#heading {
  height: 180px;  
  display: flex;
  text-decoration: none;
  background-image: url(https://t4.ftcdn.net/jpg/01/82/89/97/240_F_182899779_bFw82KGrCJ6wOXas4MjFRGUIvn9IOCcq.jpg);


}
#title {
    font-size: 80px;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    text-decoration: none;
    height: 150px;
    margin-top: 40px;
    margin-bottom: -10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

#suits {
    margin-top: -65px;
    margin-bottom: 70px;
    color: white;
}
#start {
    margin-top: 5%;
    margin-bottom: 70px;
}

#startbtn {
    margin: 0 auto;
    font-size: 60px;
}

.players {
    color: white;
    margin-left: 20%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    color: white;
}

.card {
    width: 75px;
    height: 120px;
    display: inline-block;
}

.backofcard {
    width: 75px;
    height: 120px;
    display: inline-block;
}



#gameboard {
    margin-bottom: -70px;
    margin-top: 40px;
    width: 50%;
    
}

#startbtn:hover {
    background: orange;
    color: black;
}

a:visited, a:link {
    color: white;
}

#dealer {
    display: flex;
    align-content: stretch;

}
#player {
    display: flex;
}

#maincontainer {
    background: black;
}

.gameboard {
    border: 15px solid #662A19;
    border-radius: 15px;
}

#buttonparent {
    display: flex;
    justify-content: space-evenly;

}

.dot {
  height: 200px;
  width: 200px;
  border: 4px solid orange;
  border-radius: 50%;
  display: inline-block;
  font-size: 120px;
  font-weight: 700;
}

#circle-container {
    display: flex;
    justify-content: center;
}

#directions {
    margin-bottom: -20px;
}

#players {
    font-family: 'Arial', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.2em;

}

#gameboard {
    margin-top: -20px;
}

#scores {
    display: flex;
    justify-content: space-between;
}